<div style="display: flex; justify-content: center;">
    <mat-grid-list [cols]="cols" rowHeight="280px" style="width: 70%; margin-top: 50px;" gutterSize="10">
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'" [colspan]="mainCols">
            <div style="z-index: -1; display: flex; flex-direction: row; padding: 10px; width: 100%;">
                <div style="display: flex; flex-direction: column; margin: 6px; align-self: flex-start; width: 100%;">
                    <sub>welcome,</sub>
                    <p></p>
                </div>
                <div style="margin: 6px; margin-left: auto;">
                    <img src="https://via.placeholder.com/250" alt="Placeholder Image" style="border-radius: 50%;">
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'" [rowspan]="2">
            <div style="z-index: -1;">
                <div style="display: flex; flex-direction: column; padding: 10px;">
                    <div style="text-align: center;">
                        <h3>About Me</h3>
                    </div>
                    <div >
                        <p>
                            I am a full stack developer and graduated from Appalachian State University with a degree in Computer Science. 
                            I am passionate about computing and excited to get into the field as a software engineer. I am always looking to expand my knowledge and learn new technologies.
                        </p>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'" [colspan]="2">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
        <mat-grid-tile (mouseover)="playSound()" [style.border]="'1px solid white'">
            <div style="z-index: -1;">
                cell
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>