<div style="display: flex; justify-content: center;">
    <mat-grid-list cols=2 rowHeight="2:1" style="width: 75%; margin-top: 50px;">
        <mat-gr</mat-grid-list>id-tile [style.border]="'1px solid white'"></mat-grid-tile>
            <!-- Content of each cell goes here -->
            cell
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid white'">
            <!-- Content of each cell goes here -->
            cell
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid white'">
            <!-- Content of each cell goes here -->
            cell
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid white'">
            <!-- Content of each cell goes here -->
            cell
        </mat-grid-tile>
    </mat-grid-list>
</div>